#wb_header { background: transparent none repeat scroll left top; height: 200px; }
#wb_header { height: 200px; }
#wb_main { background: transparent none repeat scroll left top; height: 314px; padding: 0 0 50px 0; }
#wb_main { height: 314px; }
#wb_footer { background: transparent none repeat-x scroll left top; height: 74px; }
#wb_footer { height: 74px; }
body { background: transparent url("../gallery/18d8042386b79e2c279fd162df0205c8.jpg") repeat-y scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 2018px; }
.root { width: 992px; height: 2018px; overflow: visible; }
#wb_element_instance19 { left: 731px; top: 60px; min-width: 259px; width: 259px; min-height: 40px; height: 40px; display: block; z-index: 158; }
#wb_element_instance19 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance19, #wb_element_instance19 ul { text-align: right; }
#wb_element_instance19 ul ul { background: transparent none repeat scroll right top; }
#wb_element_instance19 li { margin: 0px 0px 0px 20px; }
#wb_element_instance19 li a { text-transform: uppercase; border: 0px none #ffffff; padding: 10px 20px 10px 0px; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none no-repeat scroll center top; }
#wb_element_instance19 li:hover > a, #wb_element_instance19 li:focus > a { border: 2px none #ffffff; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: underline; color: #ffffff; line-height: 16px; background: transparent none no-repeat scroll center center; }
#wb_element_instance19 li.active > a { border: 0px double #ba37ba; font: normal bold 14px Arial,Helvetica,sans-serif; text-decoration: none; color: #d4d4d4; line-height: 16px; background: transparent none repeat scroll center center; }
#wb_element_instance20 { left: 0px; top: 60px; min-width: 70px; width: 70px; min-height: 70px; height: 70px; display: block; z-index: 153; }
#wb_element_instance20 img { width: 70px; height: 70px; position: static; left: 0px; top: 0px; }
#wb_element_instance21 { left: 90px; top: 60px; min-width: 300px; width: 300px; min-height: 55px; height: 55px; display: block; z-index: 154; }
#wb_element_instance22 { left: 850px; top: 0px; min-width: 140px; width: 140px; min-height: 24px; height: 24px; display: block; z-index: 161; }
#wb_element_instance23 { left: 0px; top: 0px; min-width: 550px; width: 550px; min-height: 70px; height: 70px; display: block; z-index: 79; }
#wb_element_instance24 { left: 0px; top: 290px; min-width: 240px; width: 240px; min-height: 24px; height: 24px; display: block; z-index: 55; }
#wb_element_instance25 { left: 0px; top: 70px; min-width: 990px; width: 990px; min-height: 34px; height: 34px; display: block; z-index: 56; }
#wb_element_instance26 { left: 0px; top: 0px; min-width: 305px; width: 305px; min-height: 55px; height: 55px; display: block; z-index: 58; }
#wb_element_instance27 { left: 0px; top: 140px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; z-index: 59; }
#wb_element_instance27 img { width: 150px; height: 150px; position: static; left: 0px; top: 0px; }
#wb_element_instance28 { left: 420px; top: 140px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; z-index: 60; }
#wb_element_instance28 img { width: 150px; height: 150px; position: static; left: 0px; top: 0px; }
#wb_element_instance29 { left: 420px; top: 290px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 57; }
#wb_element_instance30 { left: 0px; top: 334px; display: block; z-index: 9000; }
#wb_element_instance31 { left: 0px; top: 90px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	#wb_header { height: 200px; }
	#wb_main { height: 314px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 992px; min-height: 638px; }
	.root { width: 992px; height: 638px; overflow: visible; }
	#wb_element_instance19 { left: 731px; top: 60px; min-width: 259px; width: 259px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance20 { left: 0px; top: 60px; min-width: 70px; width: 70px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance20 img { width: 70px; height: 70px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 90px; top: 60px; min-width: 300px; width: 300px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance22 { left: 850px; top: 0px; min-width: 140px; width: 140px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance23 { left: 0px; top: 0px; min-width: 550px; width: 550px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance24 { left: 0px; top: 290px; min-width: 240px; width: 240px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance25 { left: 0px; top: 70px; min-width: 990px; width: 990px; min-height: 34px; height: 34px; display: block; }
	#wb_element_instance26 { left: 0px; top: 0px; min-width: 305px; width: 305px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance27 { left: 0px; top: 140px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance27 img { width: 150px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance28 { left: 420px; top: 140px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance28 img { width: 150px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance29 { left: 420px; top: 290px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 200px; }
	#wb_main { height: 314px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 992px; min-height: 638px; }
	.root { width: 992px; height: 638px; overflow: visible; }
	#wb_element_instance19 { left: 731px; top: 60px; min-width: 259px; width: 259px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance20 { left: 0px; top: 60px; min-width: 70px; width: 70px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance20 img { width: 70px; height: 70px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 90px; top: 60px; min-width: 300px; width: 300px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance22 { left: 850px; top: 0px; min-width: 140px; width: 140px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance23 { left: 0px; top: 0px; min-width: 550px; width: 550px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance24 { left: 0px; top: 290px; min-width: 240px; width: 240px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance25 { left: 0px; top: 70px; min-width: 990px; width: 990px; min-height: 34px; height: 34px; display: block; }
	#wb_element_instance26 { left: 0px; top: 0px; min-width: 305px; width: 305px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance27 { left: 0px; top: 140px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance27 img { width: 150px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance28 { left: 420px; top: 140px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance28 img { width: 150px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance29 { left: 420px; top: 290px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 200px; }
	#wb_main { height: 314px; }
	#wb_footer { height: 74px; }
	body, .wb_sbg { min-width: 992px; min-height: 638px; }
	.root { width: 992px; height: 638px; overflow: visible; }
	#wb_element_instance19 { left: 731px; top: 60px; min-width: 259px; width: 259px; min-height: 40px; height: 40px; display: block; }
	#wb_element_instance20 { left: 0px; top: 60px; min-width: 70px; width: 70px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance20 img { width: 70px; height: 70px; position: static; left: 0px; top: 0px; }
	#wb_element_instance21 { left: 90px; top: 60px; min-width: 300px; width: 300px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance22 { left: 850px; top: 0px; min-width: 140px; width: 140px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance23 { left: 0px; top: 0px; min-width: 550px; width: 550px; min-height: 70px; height: 70px; display: block; }
	#wb_element_instance24 { left: 0px; top: 290px; min-width: 240px; width: 240px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance25 { left: 0px; top: 70px; min-width: 990px; width: 990px; min-height: 34px; height: 34px; display: block; }
	#wb_element_instance26 { left: 0px; top: 0px; min-width: 305px; width: 305px; min-height: 55px; height: 55px; display: block; }
	#wb_element_instance27 { left: 0px; top: 140px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance27 img { width: 150px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance28 { left: 420px; top: 140px; min-width: 150px; width: 150px; min-height: 150px; height: 150px; display: block; }
	#wb_element_instance28 img { width: 150px; height: 150px; position: static; left: 0px; top: 0px; }
	#wb_element_instance29 { left: 420px; top: 290px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
}
